<div class="container">
  <p-table
    #dt
    [value]="grade"
    [rows]="20"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 50, 1000]"
    [paginator]="grade.length >= 20"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary" (click)="clearTable(dt)">
          Clear Filters
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="grade">
          Grade <p-sortIcon field="grade"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="grade"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="studentName">
          Student Name <p-sortIcon field="studentName"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="studentName"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="courseName">
          Course Name <p-sortIcon field="courseName"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="courseName"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="teacherName">
          Teacher Name <p-sortIcon field="teacherName"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="teacherName"
            display="menu"
          ></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gradeList let-rowIndex="rowIndex">
      <tr>
        <td>{{ gradeList.grade }}</td>
        <td>{{ gradeList.studentName }}</td>
        <td>{{ gradeList.courseName }}</td>
        <td>{{ gradeList.teacherName }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="30">No Data Found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
